# IBM watsonx credentials
WATSONX_API_KEY=cQc7djlN7JYnAAypd39jhmad1wQGvhDVrE8Wae0qaTY8
WATSONX_PROJECT_ID=fb4bf70d-7927-46c4-946c-15708f1b6a9c
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# Application settings
ENVIRONMENT=development